<footer class="footer bg-light py-3 mt-auto">
    <div class="container">
        <div class="d-flex flex-md-row flex-column justify-content-center align-items-center">
            <div class="col-md-4"><span class="text-muted">&copy; Elderly Care 2022</span></div>
            <div class="col-md-4"></div>
            <div class="col-md-4 d-flex flex-row justify-content-end"><span class="text-muted">Developed by Anish Tuteja</span></div>
        </div>

    </div>
</footer>